<div class="container">
    <div [ngClass]="innerWidth > 500 ? 'movie' : 'movie-sm'">
        <div *ngIf="innerWidth > 500;then img1 else img2"> </div>
        <div class="description">
            <div *ngIf="movie?.overview">
                <div class="title-description">
                    Sinopse:
                </div>
                {{movie?.overview}}
                <br />
                <br />
            </div>
            <div *ngIf="releaseDate">
                <div class="title-description">
                    Data de Lançamento:
                </div>
                {{releaseDate}}
                <br />
            </div>
            <div *ngIf="genres">
                <div class="title-description">
                    Gênero:
                </div>
                {{genres}}
                <br />
            </div>
            <div *ngIf="director" class="title-description">
                {{directorTitle}}
            </div>
            {{director}}
        </div>
    </div>
    <div class="title">Elenco</div>
    <div class="cast">
        <div *ngFor="let cast of movie?.credits?.cast; let i = index">
            <div>
                <img alt="{{movie.title}}" src="https://image.tmdb.org/t/p/w138_and_h175_face{{cast?.profile_path}}"
                    onerror="this.onerror=null; this.src='./assets/images/profile.svg'" />
                <br />
                <span>{{ cast.name }}</span>
            </div>
        </div>
    </div>
    <div class="title">Equipe técnica</div>
    <div class="cast">
        <div *ngFor="let crew of crews; let i = index">
            <div>
                <img alt="{{crew.title}}" src="https://image.tmdb.org/t/p/w138_and_h175_face{{crew?.profile_path}}"
                    onerror="this.onerror=null; this.src='./assets/images/profile.svg'" />
                <br />
                <span>{{ crew.name }}</span>
                <br />
                <span class="job">{{ crew.job }}</span>
            </div>
        </div>
    </div>
</div>

<ng-template #img1>
    <img style="width: 138px;" alt="{{movie?.title}}" src="https://image.tmdb.org/t/p/w200{{movie?.poster_path}}"
        onerror="this.onerror=null; this.src='./assets/images/movie.svg'" />
</ng-template>
<ng-template #img2>
    <img alt="{{movie?.title}}" src="https://image.tmdb.org/t/p/w500{{movie?.poster_path}}"
        onerror="this.onerror=null; this.src='./assets/images/movie.svg'" />
</ng-template>