.movie {
    display: flex;
}

.movie-sm img {
    width: 100%;
}

.description {
    padding: 30px;
}

.title-description {
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
}

.container {
    max-width: 720px;
    min-width: 360px;
    margin: auto;
}

.cast {
    display: flex;
    padding: 10px 10px;
    overflow-x: auto;
}

.cast img {
    height: 175px;
    width: 138px;
    margin-right: 10px;
}

.cast::-webkit-scrollbar {
    width: .55em;
    height: .55em;
}

.cast::-webkit-scrollbar-thumb {
    background-color: #1bbbb4;
    border-radius: 8px;
}

.cast::-webkit-scrollbar-track {
    border-radius: 8px;
}

.title {
    font-weight: bold;
    font-size: 26px;
    margin-top: 10px;
    padding: 0px 10px;
}

.job {
    font-size: 0.75rem;
}