<div>
    <div class="header">
        <div class="container-header">
            <mat-form-field class="full-width">
                <input type="search" matInput placeholder="Pesquisa" [(ngModel)]="searchInput"
                    (keyup.enter)="onSearch()">
                <a mat-button matSuffix mat-icon-button>
                    <mat-icon aria-label="Pesquisa" class="btn-search" (click)="onSearch()">search</mat-icon>
                </a>
            </mat-form-field>
        </div>
    </div>

    <div class="container">
        <div *ngIf="search;then searchView else withoutSearch">
        </div>
    </div>
</div>
<ng-template #withoutSearch>
    <div class=" title">Lançamentos</div>
    <div class="gallery">
        <div *ngFor="let movie of movies; let i = index">
            <div routerLink="/movie/{{movie.id}}">
                <img alt="{{movie.title}}" src="https://image.tmdb.org/t/p/w200{{movie.poster_path}}"
                    onerror="this.onerror=null; this.src='./assets/images/movie.svg'" />
                <br />
                <span>{{ movie.title }}</span>
            </div>
        </div>
    </div>
    <br />
    <div class=" title">Top Filmes</div>
    <div class="gallery">
        <div *ngFor="let movie of topMovies; let i = index">
            <div routerLink="/movie/{{movie.id}}">
                <img alt="{{movie.title}}" src="https://image.tmdb.org/t/p/w200{{movie.poster_path}}"
                    onerror="this.onerror=null; this.src='./assets/images/movie.svg'" />
                <br />
                <span>{{ movie.title }}</span>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #searchView>
    <div class="title">Pesquisa: {{search}}</div>
    <div class="gallery" style="flex-wrap: wrap">
        <div *ngFor="let movie of moviesSearch; let i = index">
            <div routerLink="/movie/{{movie.id}}">
                <img alt="{{movie.title}}" src="https://image.tmdb.org/t/p/w200{{movie.poster_path}}"
                    onerror="this.onerror=null; this.src='./assets/images/movie.svg'" />
                <br />
                <span>{{ movie.title }}</span>
            </div>
        </div>
    </div>
    <mat-paginator [pageIndex]="page" (page)="pageEvent = changePage($event)" [length]="pageTotal" [pageSize]="20"
        [pageSizeOptions]="[20]">
    </mat-paginator>
</ng-template>