.title {
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 20px;
    padding: 0px 10px;
}

.gallery {
    display: flex;
    padding: 10px 10px;
    overflow-x: auto;
}

.gallery img {
    width: 150px;
    height: 225px;
}

.gallery > div:hover {
    transform: scale(1.1);
}

.gallery > div {
    width: 150px;
    margin-right: 10px;
    margin-bottom: 15px;
    font-size: 0.85rem;
    font-weight: bold;
    cursor: pointer;
}

.gallery::-webkit-scrollbar {
    width: .55em;
    height: .55em;
}

.gallery::-webkit-scrollbar-thumb {
    background-color: #1bbbb4;
    border-radius: 8px;
}

.gallery::-webkit-scrollbar-track {
    border-radius: 8px;
}

@media only screen and (max-width: 720px) {
    .gallery {
        justify-content: center;
    }

    .gallery img {
        width: 90px;
        height: 128.5px;
    }

    .gallery > div {
        width: 90px;
        font-size: 0.75rem;
        margin-right: 5px;
        margin-bottom: 5px;
    }
}

.header {
    background-color: #e6e6e6;
    padding-top: 5px;
    position: absolute;
    width: 100%;
}

.full-width {
    width: 100%;
}

.container-header {
    max-width: 1280px;
    min-width: 360px;
    margin: auto;
}

.container {
    max-width: 1300px;
    min-width: 360px;
    margin: auto;
    position: relative;
    top: 100px;
}

.btn-search {
    cursor: pointer;
}